.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
  overflow: auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.user-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.error {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid black;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  .custom-icon {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
}
